<div id="quick-links" class="container">
    <div class="return-policy" *ngIf="selectedLink.includes('return-policy')">
        <h1 style="text-align: center;">Return and Refund Policy</h1>
        <br>
        <p>At The Verdant Nature, we strive to provide the best products and service to our customers. Please review our
            policy below:</p>
        <ul>
            <li><strong>No Refunds:</strong> Once your product has been delivered, we are unable to offer a refund.</li>
            <li><strong>Order Cancellations:</strong> Orders cannot be canceled once they have been placed.</li>
            <li><strong>Exchanges:</strong> If you are not satisfied with your purchase, you may return the product
                within 15 days of receipt for an exchange, in accordance with our return policy.</li>
        </ul>
        <p>For any return inquiries or further assistance, please contact our support team at <a
                href="mailto:support@theverdantnature.com">support@theverdantnature.com</a>. We're here to help!</p>
        <p>Thank you for choosing The Verdant Nature.</p>

        <br>
        <h5><b>Damages and Issues</b></h5>
        <p>We want you to be completely satisfied with your purchase. Please inspect your order upon receipt and contact
            us within 24 hours of delivery if the item is defective, damaged, or if you receive the wrong item. This
            allows us to evaluate the issue and make it right as soon as possible.</p>
        <p>To expedite the process, please send a picture of the defective or damaged item to our support team at <a
                href="mailto:support@theverdantnature.com">support@theverdantnature.com</a> for an exchange.</p>
        <p>Thank you for your cooperation and understanding.</p>
    </div>
    <div class="privacy-policy" *ngIf="selectedLink.includes('privacy-policy')">
        <h1 style="text-align: center;">Privacy Policy</h1>
        <br>
        <p><strong>Effective Date:</strong> [Insert Date]</p>
        <p>At Verdant, we are committed to protecting your privacy and ensuring the security of your personal
            information. This Privacy Policy outlines how we collect, use, disclose, and safeguard your information when
            you visit our website or interact with our products and services.</p>
        <h5>1. Information We Collect</h5>
        <ul>
            <li><strong>Personal Information:</strong> When you place an order, register on our website, or interact
                with us through our Instagram page @verdant_close_to_nature, we may collect personal information such as
                your name, email address, mailing address, phone number, and payment information.</li>
            <li><strong>Cookies:</strong> Like many websites, we use cookies and similar technologies to enhance your
                browsing experience.</li>
        </ul>
        <h5>2. How We Use Your Information</h5>
        <ul>
            <li>To process and fulfill your orders, including payment processing and shipping.</li>
            <li>To communicate with you, respond to your inquiries, and provide customer support.</li>
            <li>To send you promotional emails, newsletters, and marketing communications that may interest you (you may
                opt out at any time).</li>
            <li>To improve our website, products, and services based on your feedback and interactions.</li>
        </ul>
        <h5>3. How We Protect Your Information</h5>
        <p>We implement appropriate security measures to protect your personal information from unauthorized access,
            alteration, disclosure, or destruction. However, please note that no method of transmission over the
            internet or electronic storage is completely secure, and we cannot guarantee absolute security.</p>
        <h5>4. Sharing Your Information</h5>
        <p>We do not sell, trade, or otherwise transfer your personal information to third parties without your consent,
            except as necessary to provide our services or as required by law.</p>
        <ul>
            <li>We may share your information with trusted third-party service providers who assist us in operating our
                website, conducting business, or servicing you.</li>
            <li>Your information may be disclosed in response to lawful requests by public authorities, including to
                meet national security or law enforcement requirements.</li>
        </ul>
        <h5>5. Your Rights and Choices</h5>
        <ul>
            <li>You have the right to access, correct, update, or delete your personal information. You can do this by
                logging into your account or contacting us directly.</li>
            <li>You may choose to opt out of receiving promotional communications from us by following the unsubscribe
                instructions provided in our emails or contacting us.</li>
        </ul>
        <h5>6. Children's Privacy</h5>
        <p>Our website and services are not directed to individuals under the age of 18. We do not knowingly collect
            personal information from children. If we discover that a child under 18 has provided us with personal
            information, we will promptly delete it.</p>
        <h5>7. Changes to This Privacy Policy</h5>
        <p>We may update this Privacy Policy from time to time to reflect changes in our practices or legal
            requirements. We will notify you of any changes by posting the updated Privacy Policy on our website with
            the effective date indicated.</p>
        <h5>8. Contact Us</h5>
        <p>If you have any questions, concerns, or requests regarding this Privacy Policy or our handling of your
            information, please contact us at: <a
                href="mailto:support@theverdantnature.com">support@theverdantnature.com</a></p>
        <p>Thank you for trusting Verdant. We are dedicated to protecting your privacy and providing you with a positive
            experience when visiting our website and using our products and services.</p>

    </div>
    <div class="shipping-policy" *ngIf="selectedLink.includes('shipping-policy')">
        <h1 style="text-align: center;">Shipping Policy</h1>
        <br>
        <h5>Domestic Shipping</h5>
        <ul>
            <li><strong>Free Shipping:</strong> Enjoy free shipping on all orders within India. Delivery typically takes
                7 to 15 days.</li>
            <li><strong>Non-Delivery Issues:</strong> If your order is not delivered within the expected timeframe,
                please contact us at <a href="mailto:support@theverdantnature.com">support@theverdantnature.com</a>.
            </li>
        </ul>
        <h5>Important Information</h5>
        <ul>
            <li><strong>Delivery Status:</strong> If your delivery status shows as "Delivered" but you have not received
                the product, please inform us within 24 hours of the status update by contacting our customer support
                team.</li>
            <li><strong>POD Disputes:</strong> Please note that after 48 hours, courier companies do not accept any
                Proof of Delivery (POD) disputes.</li>
        </ul>
        <p>Thank you for choosing The Verdant Nature.</p>
    </div>
    <div class="term-conditions" *ngIf="selectedLink.includes('term-conditions')">
        <h1 style="text-align: center;">Terms & Conditions</h1>
        <br>
        <p><strong>Effective Date:</strong> [Insert Date]</p>
        <p>Welcome to Verdant! These Terms of Service ("Terms") govern your use of our website, products, and services
            provided by Verdant ("we," "us," or "our"). By accessing or using our website or purchasing our products,
            you agree to be bound by these Terms. Please read them carefully before proceeding.</p>
        <h5>1. Use of Our Website</h5>
        <ul>
            <li>You must be at least 18 years old to use our website and purchase our products. By using our website,
                you represent that you are at least 18 years old or have legal permission from a parent or guardian.
            </li>
            <li>You agree to provide accurate and current information when creating an account, placing an order, or
                interacting with our website.</li>
        </ul>
        <h5>2. Products and Orders</h5>
        <ul>
            <li>Our products, including hair oils and related items, are intended for personal use only. You may not
                resell or distribute our products without prior written consent.</li>
            <li>Prices for our products are subject to change without notice. We reserve the right to modify or
                discontinue products at any time.</li>
            <li>All orders are subject to availability. We may refuse or cancel any order for any reason, including if
                the product is out of stock or if there are errors in pricing or product descriptions.</li>
        </ul>
        <h5>3. Payment and Billing</h5>
        <ul>
            <li>Payment for orders is processed through secure payment gateways. You agree to provide accurate billing
                and payment information.</li>
            <li>We reserve the right to refuse or cancel orders if payment information is inaccurate, incomplete, or
                fraudulent.</li>
        </ul>
        <h5>4. Shipping and Delivery</h5>
        <ul>
            <li>We strive to ship orders promptly, but delivery times may vary depending on your location and shipping
                method.</li>
            <li>Risk of loss and title for products purchased from us pass to you upon delivery to the carrier.</li>
        </ul>
        <h5>5. Returns and Refunds</h5>
        <p>We have a no refund policy, which means you can’t get a refund on your product once delivered. You cannot
            cancel the order after being placed. However, you may return products within 15 days of receipt for an
            exchange, subject to our return policy. Contact our support team at <a
                href="mailto:support@theverdantnature.com">support@theverdantnature.com</a>.</p>
        <h5>6. Intellectual Property</h5>
        <ul>
            <li>All content on our website, including text, graphics, logos, images, and software, is the property of
                Verdant and protected by copyright and other intellectual property laws.</li>
            <li>You may not reproduce, distribute, modify, or create derivative works of our content without prior
                written permission.</li>
        </ul>
        <h5>7. Limitation of Liability</h5>
        <ul>
            <li>To the fullest extent permitted by law, we shall not be liable for any indirect, incidental, special,
                consequential, or punitive damages arising out of or related to your use of our products or website.
            </li>
            <li>Our total liability for any claim arising out of or related to these Terms or our products shall not
                exceed the amount paid by you for the product giving rise to the claim.</li>
        </ul>
        <h5>8. Governing Law and Dispute Resolution</h5>
        <ul>
            <li>These Terms shall be governed by and construed in accordance with the laws of [Your Jurisdiction],
                without regard to its conflict of law principles.</li>
            <li>Any dispute arising out of or relating to these Terms or your use of our products shall be resolved
                exclusively in the courts of [Your Jurisdiction].</li>
        </ul>
        <h5>9. Changes to These Terms</h5>
        <ul>
            <li>We reserve the right to update or modify these Terms at any time. Changes will be effective immediately
                upon posting on our website with the updated Effective Date.</li>
            <li>By continuing to use our website or purchase our products after changes to these Terms, you agree to be
                bound by the revised Terms.</li>
        </ul>
        <h5>10. Contact Us</h5>
        <p>If you have any questions, concerns, or feedback regarding these Terms or our products, please contact us at:
            <a href="mailto:support@theverdantnature.com">support@theverdantnature.com</a>.
        </p>
        <p>Thank you for choosing Verdant. We appreciate your trust and look forward to providing you with exceptional
            products and services.</p>
    </div>
</div>