/* You can add global styles to this file, and also import other style files */

body {
    /* background-color: #e9e6e175; */
    /* background-color: #89a0939c; */
    /* background-color: #89a093d6; */
    /* font-family: 'Amatic SC', cursive; */
    font-family: 'Comfortaa', cursive !important;
    /* font-family: 'Josefin Slab', serif; */
    /* font-family: 'Montserrat', sans-serif; */
    background-color: #afbca3;
    /* color: #1e4617; */
}

app-nav-bar:has(+ router-outlet + app-home) #nav-bar {
    margin-bottom: 0 !important;
}

app-contact-us~app-footer .footer,
app-story~app-footer .footer,
app-faq~app-footer .footer {
    margin-top: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}