body {
    background-color: #afbca3;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-nav-bar:has(+ router-outlet + app-home) #nav-bar {
    margin-bottom: 0 !important;
}

app-contact-us~app-footer .footer,
app-story~app-footer .footer,
app-faq~app-footer .footer {
    margin-top: -5px !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

html,
body {
    height: 100%;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}