<div id="product-view" class="container" *ngIf="selectedProductId != 0">
    <div id="carouselExampleFade" class="carousel slide carousel-fade col flex-item">
        <div class="carousel-inner">
            <div [ngClass]="i == 0 ? 'carousel-item active': 'carousel-item'"
                *ngFor="let itemUrl of selectedProduct?.pictureUrl; let i = index">
                <img src="{{itemUrl}}" class="d-block w-100" alt="...">
            </div>
            <!-- <div class="carousel-item active">
            </div>
            <div class="carousel-item">
                <img src="../../assets/images/flower-bg.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../assets/images/product.jpg" class="d-block w-100" alt="...">
            </div> -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="col flex-item">
        <h1>{{selectedProduct?.productName}} Hairoil - {{selectedProduct?.productQuantity}}</h1>
        <!-- <h3>{{selectedProduct?.price | currency:'INR'}}/-</h3> -->
        <h3 style="color: #f5f2ee;">
            <span
                [ngStyle]="{'text-decoration': selectedProduct?.discount !== null ? 'line-through' : ''}">{{selectedProduct?.price
                | currency:'INR'}} </span>
            <span *ngIf="selectedProduct?.discount !== null">{{selectedProduct?.price * (1 - selectedProduct?.discount /
                100) |
                currency:'INR'}} ({{selectedProduct?.discount}}% Off)</span>
        </h3>


        <div class="product-desc">
            <div class="addCart" style="text-align: center;">
                <button (click)="addToCart()">
                    <span class="addToCart">Add to Cart</span>
                    <span class="addToCartIcon fa-solid fa-cart-arrow-down"></span>
                </button>
            </div>
            <br><br>
            <h3>Description</h3>
            <div>
                <p>{{selectedProduct?.productDescription}}</p>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 5rem;" class="review-section container">
    <app-alert [alert]="alert"></app-alert>
    <h1 style="text-align: center; margin-bottom: 3rem;">Product Reviews
        <h6 *ngIf="reviewList?.length > 0">({{avgReview}} <i class="fa-solid fa-star"></i> | {{reviewList?.length}}
            reviews)</h6>
    </h1>
    <div *ngIf="reviewList?.length == 0" class="no-review">
        <p>There are no reviews yet for this product.</p>
    </div>
    <div class="display-review custom-scrollbar">
        <div class="reviews" *ngFor="let rev of reviewList">
            <img *ngIf="rev.reviewRange < 25" src="../../assets/images/bad-review.gif" alt="bad review">
            <img *ngIf="rev.reviewRange >= 75" src="../../assets/images/love-review.gif" alt="love it review">
            <img *ngIf="rev.reviewRange >= 50 && rev.reviewRange < 75" src="../../assets/images/good-review.gif"
                alt="good review">
            <img *ngIf="rev.reviewRange >= 25 && rev.reviewRange < 50" src="../../assets/images/okay-review.gif"
                alt="okay review">
            <div>
                <b>{{rev.userName | titlecase}} | {{rev.reviewDate | date: 'MMMM d, y'}}</b><br>
                {{rev.reviewDescription}} <br>
            </div>
        </div>

    </div>
    <br>
    <div *ngIf="isUserLoggedIn" class="add-review">
        <div class="addReviewButton" style="text-align: center;">
            <button *ngIf="!isAddReview" (click)="isAddReview = true;">Add a Review</button>
        </div>
        <div *ngIf="isAddReview" class="add-review-section">
            <h4 style="text-align: center; font-weight: 600; margin-bottom: 2rem;">ADD YOUR REVIEW</h4>
            <div class="new-review">
                <div class="review-range flex-item">
                    <img *ngIf="reviewRange < 25" src="../../assets/images/bad-review.gif" alt="bad review">
                    <img *ngIf="reviewRange >= 75" src="../../assets/images/love-review.gif" alt="love it review">
                    <img *ngIf="reviewRange >= 50 && reviewRange < 75" src="../../assets/images/good-review.gif"
                        alt="good review">
                    <img *ngIf="reviewRange >= 25 && reviewRange < 50" src="../../assets/images/okay-review.gif"
                        alt="okay review">
                    <br>
                    <input class="slider" type="range" min="1" max="100" step="1" (input)="onReviewRangeChange($event)"
                        [value]="reviewRange">
                </div>
                <div class="review-desc flex-item">
                    <textarea placeholder="Please enter your review." (change)="onReviewDescChange($event)"
                        id="review-textarea" name="textarea"></textarea>
                </div>
            </div>

            <div style="text-align: center;" class="submit-review">
                <button (click)="onClickSubmit()" type="submit" [disabled]="!newReview.reviewDescription.length">Submit
                    Review</button>
            </div>
        </div>

    </div>
</div>
