<div class="story">
    <h1 style="text-align: center;">Our Story</h1>
    <div class="section">
        <div class="section-1">
            <div id="wrapper">
                <div class="dust"><img src="http://www.mattdrew.co.uk/experiments/images/ex-2point5d/dust.png" alt="" />
                </div>
                <div class="midground"><img src="assets\images\shreya.jpg" alt="" />
                </div>
            </div>
            <p>
                In the serene countryside of our ancestral village, nestled amidst verdant fields and
                age-old traditions, our journey begins with a legacy steeped in the wisdom of
                generations past. Our great grandmother, renowned for her prowess with natural
                remedies, bestowed upon us a precious gift — a secret recipe for a transformative hair
                oil.
                <br><br>
                Passed down through the generations, this cherished formula has been lovingly
                preserved by our family. It was our mother, Shanthi, who nurtured this tradition,
                spending countless hours in our quaint kitchen, blending the finest oils extracted from
                local herbs and flowers. Her dedication was a testament to the values of patience,
                craftsmanship, and the belief that nature holds the key to true beauty.
            </p>
        </div>

        <div class="section-2">
            <p>
                As fate would have it, during the challenging times of the Covid-19 pandemic, we, her
                daughters, Shreya and Manisha, felt a calling to share our family's heritage with the
                world. With a deep-seated desire to spread positivity and uplift spirits, we embarked on
                a journey to commercialize our great grandmother's hair oil.
                <br><br>
                Amidst the uncertainties of lockdowns and isolation, our small homegrown brand
                blossomed. Through word of mouth and the power of social media, we reached out to
                those seeking solace and rejuvenation for their hair amidst the turmoil. Our hair oil
                became more than just a product; it became a beacon of hope and self-care during a
                time when people needed it most.
                <br><br>
                Driven by our passion and guided by the teachings of our ancestors, we ensured that
                every bottle of our hair oil was crafted with the same meticulous care and attention to
                detail as it had been for generations. We found joy in the heartfelt testimonials of our
                customers, who shared stories of renewed confidence and healthier hair.
                Today, as we stand at the helm of our flourishing enterprise, we remain committed to
                honoring our family's legacy. Our mission is clear: to empower individuals to feel good
                about their hair, to embrace natural beauty, and to celebrate the timeless wisdom that
                has been passed down through our family's lineage.
                <br><br>

            </p>
            <img src="assets\images\hair-issue.png" alt="">
        </div>

        <p>In every drop of our hair oil, you will find not just a blend of nourishing oils, but a story
            of resilience, love, and the transformative power of traditions. Join us on our journey as
            we continue to weave together the threads of the past and present, making a difference
            one hair strand at a time. They tell hair holds memories, then why not create a happy
            one to cherish forever.
            <br><br>
            <b>- With love and care <i class="fa-regular fa-heart"></i> <br> Verdant: Close to Nature</b>
        </p>
    </div>
</div>

<div class="wave"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#efebe1" fill-opacity="1"
            d="M0,64L40,69.3C80,75,160,85,240,117.3C320,149,400,203,480,208C560,213,640,171,720,176C800,181,880,235,960,234.7C1040,235,1120,181,1200,154.7C1280,128,1360,128,1400,128L1440,128L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z">
        </path>
    </svg>
</div>