#product-page .card-img-container {
    width: 100%;
    height: 200px;
    /* Fixed height for image container */
    background-color: #f0f0f0;
    /* Light background color to indicate image space */
    display: flex;
    align-items: center;
    justify-content: center;
}

#product-page .card-img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#product-page .card-body {
    background-color: #efebe1;
    color: #1e4617;
    padding: 0.5rem;
    /* Adjust padding */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Ensure space between elements */
    flex-grow: 1;
    /* Ensure the card body grows to fill available space */
}

#product-page .card {
    height: 400px;
    /* Ensure consistent card height */
    margin-bottom: 1rem;
    text-decoration: none;
    border: 1px solid #1e4617;
    display: flex;
    flex-direction: column;
}

#product-page .card h5,
#product-page .card p {
    cursor: pointer;
    margin: 0.5rem 0;
    /* Adjust margins to reduce spacing */
}

#product-page .card p {
    margin-top: 0.25rem;
    /* Further reduce spacing */
}

#product-page .addCart {
    background-color: #1e4617;
    color: #f5f2ee;
    border-radius: 0.5rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    border: none;
    overflow: hidden;
    transition: all 0.2s;
    font-size: medium;
    font-weight: 100;
    justify-content: center;
    padding: 0.3rem;
    width: 100%;
    /* Make the button full width */
    margin-top: auto;
    /* Push the button to the bottom */
}

@media screen and (max-width: 550px) {
    #product-page h5.card-title {
        font-size: inherit;
        margin: 0;
    }

    #product-page .card-text,
    #product-page .addToCart {
        font-size: small;
    }

    #product-page .addCart {
        bottom: 0.5rem;
    }

    #product-page .card-body {
        padding: 0.5rem;
    }

    #product-page .row-cols-auto>* {
        padding: 0;
    }
}

#product-page .addCart .addToCartIcon {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

#product-page .addCart:active .addToCartIcon {
    transform: translateY(2em);
}

#product-page .addCart:active {
    transform: scale(0.95);
}