#reset .row {
    padding-top: 3rem;
    text-align: center;
    color: #314254;
}

#reset input {
    padding: 10px 0;
    margin-bottom: 40px;
    width: 70%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #999;
    background-color: #b6c4bc;
    color: #314254;
    opacity: 0.5;
}

#reset form div div {
    position: relative;
}

#reset form div div label {
    position: absolute;
    top: 1rem;
    left: 16%;
    transition: 0.5s;
    pointer-events: none;
}

#reset form div div input:focus~label,
#reset form div div input:valid~label {
    top: -1rem;
    left: 15%;
    color: #f5f2ee;
}


#reset input:focus,
#reset input:valid {
    border-bottom: 2px solid #f5f2ee;
}

#reset button[type=submit] {
    background-color: #314254;
    color: #f5f2ee;
    width: 30%;
    padding: 0.5rem;
    border-radius: 2rem;
    cursor: pointer;
    margin-top: 1rem;
}

#reset .panel-body {
    padding-top: 2rem;
}


#reset button[type=submit]:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
