<div id="reset" class="container">
    <app-alert [alert]="alert"></app-alert>
    <div class="row">
        <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="pt-3 font-weight-bold">Reset Password</h3>
                </div>
                <div class="panel-body">
                    <form [formGroup]="resetForm">
                        <div class="form-group" style="position: relative">
                            <div class="input-field">
                                <input formControlName="newPassword" type="password" required>
                                <label for="">New Password</label>
                            </div>
                        </div>
                        <div class="form-group" style="position: relative">
                            <div class="input-field">
                                <input formControlName="confirmPassword" type="password" required>
                                <label for="">Confirm Password</label>
                            </div>
                        </div>
                        <p *ngIf="resetForm.value.confirmPassword?.length > 0 &&
                            resetForm.hasError('confirmPasswordValidator', 'confirmPassword' )" style="color: red;">
                            Password does not match.</p>
                        <button [disabled]="resetForm.invalid" type="submit" (click)="onClickConfirm()">Confirm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>