<div id="home">
    <div class="video-bg">
        <video autoplay muted playsinline>
            <source src="assets\images\home-page-vid.mp4" type="video/mp4">
            Your browser does not support the video.
        </video>
        <div class="content">
            <div class="font-text">
                Are you ready to experience <br>"Good Hair Days"? <br>
                <svg style="position:absolute;" xmlns="http://www.w3.org/2000/svg" version="1.1">
                    <defs>
                        <filter id="gooey">
                            <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur" />
                            <feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                result="highContrastGraphic" />
                            <feComposite in="SourceGraphic" in2="highContrastGraphic" operator="atop" />
                        </filter>
                    </defs>
                </svg>

                <button routerLink="/products" id="gooey-button">
                    SHOP NOW!
                    <span class="bubbles">
                        <span class="bubble"></span>
                        <span class="bubble"></span>
                        <span class="bubble"></span>
                        <span class="bubble"></span>
                        <span class="bubble"></span>
                        <span class="bubble"></span>
                        <span class="bubble"></span>
                        <span class="bubble"></span>
                        <span class="bubble"></span>
                        <span class="bubble"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="best-seller">
        <h1 style="text-align: center;">Best Sellers</h1>
        <div class="best-seller-grid">
            <div class="item" *ngFor="let product of bestSellerList">
                <img loading="lazy" (click)="OnClickProduct(product)" src="{{product.pictureUrl[0]}}" class="card-img-top"
                    alt="{{product.productName}}">
                <div class="card-body">
                    <h5 (click)="OnClickProduct(product)" class="card-title"><b> {{product.productName}} Hairoil -
                            {{product.productQuantity}}</b></h5>
                    <!-- <p (click)="OnClickProduct(product)" class="card-text"><b>{{product.price | currency:'INR'}}</b></p> -->
                    <b><span (click)="OnClickProduct(product)" class="card-text"
                            [ngStyle]="{'text-decoration': product?.discount !== null ? 'line-through' : ''}">{{product?.price
                            | currency:'INR'}} </span>
                        <span *ngIf="product?.discount !== null">{{product?.price * (1 -product?.discount / 100) |
                            currency:'INR'}} ({{product?.discount}}% Off)</span></b>
                </div>
            </div>
        </div>
    </div>

    <div class="description">
    </div>
    <br><br>
    <div class="review container">
        <h1 style="text-align: center;">Hear From Our Happy Customers 😊</h1>
        <br><br>
        <div id="reviewCarousel" class="carousel slide carousel-fade">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-4" *ngFor="let item of reviews.slice(0, 3)">
                            <ng-container [ngSwitch]="item.type">
                                <img *ngSwitchCase="'image'" [src]="item.url" class="d-block w-100" alt="...">
                                <video *ngSwitchCase="'video'" [src]="item.url" class="d-block w-100" controls></video>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-4" *ngFor="let item of reviews.slice(3, 6)">
                            <ng-container [ngSwitch]="item.type">
                                <img *ngSwitchCase="'image'" [src]="item.url" class="d-block w-100" alt="...">
                                <video *ngSwitchCase="'video'" [src]="item.url" class="d-block w-100" controls></video>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#reviewCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#reviewCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


    </div>


    <h1 style="text-align: center; margin-top: 3rem;">We are Cerfitied</h1>
    <div class="certified">
        <div>
            <img class="certified-img" src="assets\images\hand-made.png" alt="">
            <h5> Handmade with Love</h5>
        </div>
        <div>
            <img class="certified-img" src="assets\images\cruelty-free.png" alt="">
            <h5>Cruelty Free</h5>
        </div>
        <div>
            <img class="certified-img" src="assets\images\organic.png" alt="">
            <h5>Organic Ingredients</h5>
        </div>
        <div>
            <img class="certified-img" src="assets\images\lab-tested.png" alt="">
            <h5>Lab Tested</h5>
        </div>
    </div>
</div>