<div id="nav-bar" class="fixed-top">
    <a class="navbar-brand" routerLink="">
        <img src="../../assets/images/logo.png" class="brand-logo" alt="Logo">
        <img style="width:10vw;" src="../../assets/images/logo-1.png" alt="logo">
    </a>
    <div class="menu">
        <ul class="nav justify-content-center" [class.menuDropDown]="menuIconVisible">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink=""><i class="fa fa-home"></i>
                    Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/products"><i class="fa fa-store"></i> Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/story"><i class="fa fa-heart"></i> Our Story</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/videos"><i class="fa fa-video"></i> Videos</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" routerLink="/faq"><i class="fa fa-question"></i> FAQS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact-us"><i class="fa fa-phone"></i> Contact Us</a>
            </li>
        </ul>
    </div>
    <div class="actions">
        <ul class="nav justify-content-end">
            <li *ngIf="!isLoggedIn" class="nav-item">
                <a class="nav-link" routerLink="/login"><i class="fa fa-user"></i>
                    <span>Profile</span></a>
            </li>
            <li *ngIf="isLoggedIn" class="nav-item dropdown">
                <a class="nav-link"><i class="fa fa-user"></i>
                    <span>Hi, {{userName}}!</span>
                </a>
                <div class="dropdown-content">
                    <a routerLink="/profile"><i class="fa fa-user"></i> My Profile</a>
                    <a routerLink="/orders"><i class="fa fa-box"></i> My Orders</a>
                    <a routerLink="address"><i class="fa-solid fa-map-location-dot"></i> Manage Address</a>
                    <a (click)="onClickLogOut()"><i class="fa fa-arrow-right-from-bracket"></i> Logout</a>
                </div>
            </li>
            <li class="nav-item">
                <a style="position: relative;" class="nav-link" routerLink="/cart"><i class="fa fa-shopping-cart">
                        <div *ngIf="totalCartItems > 0" class="totalCartItems">{{totalCartItems}}</div>
                    </i>
                    <span>Cart</span> </a>
            </li>
            <li class="nav-item menu_icon">
                <a class="nav-link menu-icon" (click)="openClickMenuIcon()"><i class="fa fa-bars"></i>
                </a>
            </li>
        </ul>
    </div>
</div>