<div *ngIf="status == 'success'" class="order-success">
    <div class="order-success-img">
        <img src="../../assets/images/order-success-2.png" alt="">
    </div>
    <br>
    <h1>YOUR ORDER IS CONFIRMED!</h1>
    <div class="orders-button">
        <button routerLink="/orders">
            Go to My Orders
        </button>
    </div>
</div>

<div *ngIf="status == null" class="order-list">
    <h1 style="text-align: center;">My Orders</h1>
    <div class="order-grid">
        <div class="order-card" *ngFor="let order of myOrderList">
            <img src="{{order.productList[0].pictureUrl[0]}}" alt="">
            <div style="display: inline;">
                <h4>{{order.productList[0].productName}}</h4>
                <div>
                    <h6>Order Date: </h6>{{order.orderDate | date: 'MMMM d, y'}}
                </div>
                <div>
                    <h6>Order ID: </h6>{{order.successfulOrderId}}
                </div>
                <div>
                    <h6>Delivery Address: </h6>{{order.deliveryAddress}}
                </div>
            </div>

        </div>
    </div>
</div>