<div *ngIf="status == 'success'" class="order-success">
    <div class="order-success-img">
        <img src="../../assets/images/order-success.png" alt="">
    </div>
    <br>
    <h1>YOUR ORDER IS CONFIRMED!</h1>
    <div class="orders-button">
        <button routerLink="/orders">
            Go to My Orders
        </button>
    </div>
</div>

<div *ngIf="status == null" class="order-list">
    <h1 style="text-align: center;">My Orders</h1>
    <div class="order-grid custom-scrollbar">
        <div class="order-card" *ngFor="let order of myOrderList">
            <img src="{{order.product.product.pictureUrl[0]}}" alt="">
            <div style="display: inline;">
                <div class="row">
                    <span class="col-lg-6">
                        <h6>Product: </h6>{{order.product.product.productName}}
                    </span>
                    <span class="col-lg-6">
                        <h6>Order ID: </h6>{{order.successfulOrderId}}
                    </span>

                </div>
                <div class="row">
                    <span class="col-lg-6">
                        <h6>Order Date: </h6>{{order.orderDate | date: 'MMMM d, y'}}
                    </span>
                    <span class="col-lg-6">
                        <h6>Order Quantity: </h6>{{order.product.quantity}}
                    </span>
                </div>
                <div class="row">
                    <span class="col-lg-6">
                        <h6>Delivery Address: </h6>{{order.deliveryAddress}}
                    </span>
                    <!-- <span class="col-lg-6">
                        <h6>Delivery Status: </h6>{{order.deliveryTracking?.currentStatus ?
                        order.deliveryTracking.currentStatus : "Preparing to be shipped"}}
                        <span
                            *ngIf="order.deliveryTracking?.trackUrl !== null && order.deliveryTracking.trackUrl !== ''
                            && order.deliveryTracking.currentStatus !== 'Delivered'">
                            <a [href]="order.deliveryTracking.trackUrl" target="_blank"
                                rel="noopener noreferrer">(Track Here)</a>
                        </span>
                    </span> -->

                    <span class="col-lg-6">
                        <h6>Delivery Consignment Id: </h6>
                        <span *ngIf="order.deliveryTrackingId">
                            {{order.deliveryTrackingId}}
                            <a href="https://www.tpcdesk.com/TrackQueryStatus.aspx" target="_blank"
                                rel="noopener noreferrer">(Track Here)</a>
                        </span>
                        <span *ngIf="!order.deliveryTrackingId">Not yet dispatched</span>

                        <div>
                            <h6>Price: </h6>
                            {{ order.productPrice | currency: 'INR':'symbol':'1.0-0' }}
                        </div>
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>