<div class="footer">
    <div class="footer-row">
        <div class="quick-links">
            <h3>Quick Links</h3>
            <ul>
                <li><a routerLink="privacy-policy">Privacy Policy</a></li>
                <li><a routerLink="return-policy">Return Policy</a></li>
                <li><a routerLink="shipping-policy">Shipping Policy</a></li>
                <li><a routerLink="term-conditions">Terms & Conditions</a></li>
            </ul>
        </div>
        <div class="contact">
            <h3>Contact Us</h3>
            <ul>
                <li class="phone">
                    <a href="tel:+918904227748"><i class="fa fa-phone"></i> +918904227748</a>
                </li>
                <li class="mail">
                    <a href="mailto:support@theverdantnature.com"><i class="fa-solid fa-envelope"></i>
                        support&#64;theverdantnature.com</a>
                </li>
                <li class="location">
                    <h6><i class="fa-solid fa-location-dot"></i> Bengaluru, Karnataka</h6>
                </li>
            </ul>
        </div>
        <div class="social-media">
            <div class="logo">
                <img src="../../assets/images/Logo Final 1.png" class="brand-logo" alt="Logo">
                <img style="width:10rem;" src="../../assets/images/Logo Final 2.png" alt="logo">
            </div>
            <div class="social-media-links">
                <ul>
                    <li><i class="fa-brands fa-whatsapp"></i></li>
                    <li><a href="https://www.instagram.com/verdant_close_to_nature/" target="_blank">
                            <i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com/Verdant.hair19/" target="_blank"><i
                                class="fa-brands fa-facebook"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">

    </div>
</div>