#login {
    background-image: url("../../assets/images/flower-bg.png");
    color: #314254;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;
    min-height: 80vh;
    background-size: contain;
}

#login .row {
    padding-top: 5rem;
    text-align: center;
}

#login .panel-body {
    padding-top: 2rem;
}

#login input {
    padding: 10px 0;
    margin-bottom: 40px;
    width: 70%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #999;
    background-color: #b6c4bc;
    color: #314254;
    opacity: 0.5;
}

#login form div div {
    position: relative;
}

#login form div div label {
    position: absolute;
    top: 1rem;
    left: 16%;
    transition: 0.5s;
    pointer-events: none;
}

#login form div div input:focus~label,
#login form div div input:valid~label {
    top: -1rem;
    left: 15%;
    color: #f5f2ee;
}


#login input:focus,
#login input:valid {
    border-bottom: 2px solid #f5f2ee;
}

#login .noAccount {
    padding-top: 3rem;
    color: #314254;
}

#login .noAccount .link {
    cursor: pointer;
    text-decoration: underline;
    font-weight: 600;
    color: #f5f2ee;
}

#login button[type=submit],
#modal button[type=submit] {
    background-color: #314254;
    color: #f5f2ee;
    width: 30%;
    padding: 0.5rem;
    border-radius: 2rem;
    cursor: pointer;
    margin-top: 2rem;
}

#login button[type=submit]:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#login .error {
    color: #ff000073;
}

#modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(0);
    transition: transform 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    overflow: hidden;
}

#modal:hover:before {
    transform: scale(1.5);
}

#modal:before {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: " ";
    /* background-image: url("http://ak.picdn.net/shutterstock/videos/3435617/preview/stock-footage-modern-city-a-busy-overpass-at-sunset.jpg"); */
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    transition: transform 60s linear;
    transform: scale(1);
    transform-origin: left top;
}

#modal:focus,
#modal:target {
    transform: scale(1);
}

#modal>a {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: default;
}

#modal section {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 25px;
    box-sizing: border-box;
    background-color: #fff;
    transform: translate(-50%, -50%);
}

.modal-wrap {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: #dcdad5;
    padding: 3rem;
    width: 100%;
    max-width: 50vw;
    border: 1px solid #888;
    border-radius: 5px;
}